.producto-sugerido {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    cursor: pointer; /* Indica que es clickeable */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.producto-sugerido:hover {
    background-color: #f1f1f1; /* Color al pasar el mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra al hacer hover */
}

#sugerenciasProductos {
    max-height: 200px; /* Limita la altura del contenedor */
    overflow-y: auto; /* Añade scroll si hay muchas sugerencias */
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.bajo-stock {
    background-color: rgb(238, 127, 127) !important; /* O un color menos intenso para no desentonar */
    color: white !important; /* Para que el texto sea legible */
}


#widgetStock {
    position: fixed; /* Fijo en la parte superior */
    bottom: 20px;
    right: 20px;
    width: 300px; /* Ancho del widget */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
